.menu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5em;
    width: fit-content;
}

.menu__toggle {
    position: absolute;
    inset: 0;
    background: none;
    border: none;
    z-index: 1;
}

.menu__label {
    display: none;
}

.menu__content {
    position: absolute;
    top: 100%;
    overflow: hidden;
    border: var(--border);
    border-radius: var(--border-radius);
}

@media screen and (min-width: 600px) {
    .menu__label {
        display: block;
    }
}

