.text-field {
    margin-bottom: 1.5em; 
}

.text-field__label {
    display: block; 
    margin-bottom: 0.5em;
}

.text-field__input {
    width: 100%;
    box-sizing: border-box;
    padding: 1em 0.5em;
    outline: none;
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--text-primary-color);
    background-color: #005B41;
}

:host(.ng-invalid) .text-field__input {
    border: 1px solid var(--error-color);
}

.text-field__input::placeholder {
    color: var(--text-primary-color);
    opacity: 0.5;
}

.text-field__helper-text {
    color: red;
}

