.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
}

.dropdown__toggle {
    position: absolute;
    inset: 0;
    background: none;
    border: none;
    z-index: 1;
}

.dropdown__label {
    display: none;
}

.dropdown__menu {
    position: absolute;
    top: 100%;
    overflow: hidden;
    border: var(--border);
    border-radius: var(--border-radius);
}

