<ul class="chat-channel__list">
    @for (channel of channels(); track channel.id) {
        <li class="chat-channel__item">
            <label class="chat-channel__label" [for]="channel.id">{{ channel.name }}</label>
            <input 
                [id]="channel.id"
                type="radio"
                name="channel"
                class="chat-channel__input"
                [value]="channel.id"
                (change)="changeChannel(channel)"
                [checked]="isCurrentChannel(channel)"
                [disabled]="!channel.hasAccess"
            />
        </li>
    }
</ul>