<app-form id="register-form" [formGroup]="form" (submit)="onSubmit($event)">
    <app-text-field 
        id="username" 
        label="Username" 
        placeholder="Username" 
        formControlName="username" 
    />

    <app-text-field 
        id="email" 
        type="email"
        label="Email" 
        placeholder="email" 
        formControlName="email" 
    />

    <app-text-field 
        id="password" 
        type="password"
        label="Password" 
        placeholder="password" 
        formControlName="password" 
    />

    <app-primary-button type="submit" [disabled]="!form.valid">Sign Up</app-primary-button>
</app-form>