<div class="chat">
    <app-channel-input 
        [channels]="(chatState.channels())" 
        [currentChannelId]="chatState.currentChannelId()" 
        (channelChanged)="changeChannel($event)" 
    />

    <ul class="chat__messages" (scroll)="isNearBottom()" #scrollList>
        @for (message of chatState.messages(); track message.id) {
            <li [class]="'chat__message ' + getTypeName(message.type)" #scrollItem>
                @if (message.user) { 
                    <div class="chat-author">
                        @if (message.user.avatarUrl) {
                            <app-avatar [src]="message.user.avatarUrl" alt="User Avatar" size="small" />
                        } 
                        
                        <span class="chat-author__display-name" [style.color]="message.user.displayColor">
                            [{{message.user.displayName }}]:
                        </span>
                    </div>
                }

                <span class="chat__message-content"> 
                    {{ message.content }}
                </span>
            </li>
        }
    </ul>

    <div class="chat__input">
        <app-chat-input 
            (messageSubmitted)="sendChannelMessage($event)" 
            (commandSubmitted)="executeCommand($event)" 
        />
    </div>
</div>
