<div class="chat">
    <app-channel-input 
        [channels]="(chatState.channels$ | async) || []" 
        [currentChannelId]="chatState.currentChannelId" 
        (channelChanged)="changeChannel($event)" 
    />

    <ul class="chat__messages" (scroll)="isNearBottom()" #scrollList>
        @for (message of chatState.messages$ | async; track message.id) {
            <li class="chat__message" #scrollItem>
                <div class="chat__message-user">
                    @if (message.user.avatarUrl) {
                        <app-avatar [src]="message.user.avatarUrl" alt="User Avatar" size="small" />
                    } 
                    
                    <span class="chat__message-name" [style.color]="message.user.displayColor">
                        [{{message.user.displayName }}]:
                    </span>
                </div>

                <span class="chat__message-text" [style.color]="message.textColor"> 
                    {{ message.text }}
                </span>
            </li>
        }
    </ul>

    <div class="chat__input">
        <app-chat-input 
            (messageSubmitted)="sendMessage($event)" 
            (commandSubmitted)="executeCommand($event)" 
        />
    </div>
</div>
