.chat__input {
    flex:  0 1 auto;
}

.chat__messages {
    height: 500px;
    overflow-y: scroll;
    background-color: var(--surface-color);
}

.chat__message {
    padding: 5px;
    overflow: hidden;

    &.notification .chat__message-content {
        color: orange;
    }
  
    &.error .chat__message-content {
        color: red;
    }
}

.chat__message-timestamp {
    display: block;
}

.chat-author {
    display: inline-block;
}

.chat-author__display-name, .chat__message-content {
    font-size: 1.5rem;
}

