.chat {
}

.chat__input {
    flex:  0 1 auto;
}

.chat__messages {
    height: 500px;
    overflow-y: scroll;
    background-color: var(--surface-color);
}

.chat__message {
    padding: 5px;
    overflow: hidden;
}

.chat__message-timestamp {
    display: block;
}

.chat__message-user {
    display: inline-block;
}

.chat__message-avatar {
    height: 28px;
}

.chat__message-username, .chat__message-text {
    font-size: 1.5rem;
}

.chat__input {
}