<app-form id="login-form" title="Login" subTitle="Login to your account" [formGroup]="form" (submit)="onSubmit($event)">
    <app-text-field 
        id="email" 
        label="Email" 
        placeholder="email" 
        formControlName="email" 
    />

    <app-text-field 
        id="password" 
        type="password" 
        label="Password" 
        placeholder="password" 
        formControlName="password"
    />

    @if (loginFailed) {
        <strong error>Email or password is incorrect</strong>
    }

    <app-button type="submit" variant="primary" [disabled]="!form.valid">Login</app-button>
</app-form>

