<section class="container">
    <h1>Login</h1>

    <form id="login-form" [formGroup]="form" (submit)="onSubmit($event)">
        <app-text-field 
            id="email" 
            label="Email" 
            placeholder="email" 
            formControlName="email" 
        />

        <app-text-field 
            id="password" 
            type="password" 
            label="Password" 
            placeholder="password" 
            formControlName="password"
        />

        <app-button type="submit" variant="primary" [disabled]="!form.valid">Login</app-button>
    </form>
</section>


