:root {
    /* Colors */
    --primary-color: #008170;
    --primary-hover-color: #7e94b6;
    --primary-active-color: #454f5f;
    --secondary-color: #005B41;
    --secondary-hover-color: #292f41;
    --secondary-active-color: #000000;
    --background-color: #0F0F0F;
    --surface-color: #232D3F;
    --error-color: rgb(165, 49, 49);
    --text-primary-color: #F2F2F2;
    --text-secondary-color: #708095;

    --border: solid 2px rgba(255, 255, 255, 0);
    --border-radius: 10px;
    --shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    background-color: var(--background-color);
}

* {
    margin: 0;
    padding: 0;
    color: var(--text-primary-color);
}

/* Element styling */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

input {
    color-scheme: dark;
}

/* Custom classes */

.container {
    margin: 1em;
    padding: 1em;
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--surface-color);
}

.menu__option a, .menu__option button {
    display: block;
    width: 100%;
    padding: 1em;
    text-align: left;
    border: none;
    outline: none;
    background: none;
    white-space: nowrap;
}


