@if (accountState.details$ | async; as account) {
    <app-menu [label]="account.username">
        @if (account.avatar) {
            <app-avatar [src]="account.avatar.imageUrl" alt="User Avatar" />
        }

        <app-menu-option>
            <a routerLink="/account">Account</a>
        </app-menu-option>

        <app-menu-option>
            <button (click)="logout()">Log Out</button>
        </app-menu-option>
    </app-menu>
}
@else {
    <app-menu label="Account">
        <app-avatar src="https://www.gravatar.com/avatar/?d=mp" alt="User Avatar" />

        <app-menu-option>
            <a routerLink="/login">Log In</a>
        </app-menu-option>

        <app-menu-option>
            <a routerLink="/register">Create Account</a>
        </app-menu-option>
    </app-menu>
}



