@if (accountState.details$ | async; as account) {
    <app-dropdown [label]="account.username">
        @if (account.avatar) {
            <app-icon 
                [src]="account.avatar.imageUrl" 
                alt="User Avatar" 
                size="md" 
                shape="circle" 
            />
        }

        <app-dropdown-option>
            <button (click)="logout()">Log Out</button>
        </app-dropdown-option>
    </app-dropdown>
}
@else {
    <app-dropdown label="Account">
        <app-icon 
            src="https://www.gravatar.com/avatar/?d=mp" 
            alt="User Avatar"
            size="md"
            shape="circle" 
        />

        <app-dropdown-option>
            <a routerLink="/login">Log In</a>
        </app-dropdown-option>

        <app-dropdown-option>
            <a routerLink="/register">Create Account</a>
        </app-dropdown-option>
    </app-dropdown>
}

