.form-section {
    padding: 1em;
    border-radius: var(--border-radius);
    border: var(--border);
    background-color: var(--surface-color);
}

.form-section__form {
    padding: 1em;
    border-radius: var(--border-radius);
    border: var(--border);
}

.form-section__errors {
    margin: 1em 0;
    font-size: 0.8rem;
}

.form-section__actions {
    display: flex;
    gap: 0.5em;
}

